<h2 [innerText]="name"></h2>
<h2 [innerHTML]="name"></h2>

<h2 [innerText]="phoneNumber"></h2>
<h2 [innerText]="isValid"></h2>

<br/>
<hr/>
<br/>

<h2 [innerText]="user.firstName"></h2>
<h2 [innerText]="user.lastName"></h2>
<h2 [innerText]="user.age"></h2>

<br/>
<hr/>
<br/>

<h2 [innerText]="getFullName()"></h2>

<img [src]="user.avatar" height="200px" width="300px"/>

<br/>
<hr/>
<br/>

<h2 [innerText]="10 + 10"></h2>
<h2 [innerText]="'10' + '10'"></h2>


<!-- <h2 [innerText]="10++"></h2>
<h2 [innerText]="10--"></h2> -->

<!-- <img bind-src="user.avatar" height="200px" width="300px"/> -->

<br/>
<hr/>
<br/>

<h2>{{securityRiskValue}}</h2>

<br/>
<hr/>
<br/>

<h2 [innerText]="securityRiskValue" ></h2>
<h2 [innerHTML]="securityRiskValue" ></h2>
