.active {
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

header {
    position: absolute;
    top: 0;
    left: 50%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
}